.app-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 280px;
  justify-content: center;
  box-shadow: 0 10px 6px -6px #777;

  &__actions {
    display: flex;
    gap: 16px;
  }
}
